<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" lang="ru">
    
    <title>FORM-VUEJS-TODO</title>
    
    <meta name="description" content="My Vue js" />
    <meta name="keywords" content="My Vue js" />
    <meta name="author" content="Makklays" />
    
    <!-- style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style-todo.css" />
</head>
<body>
  
    <form action="" method="POST">
        <div class="form-group">
            <label for="id-title">Title</label>
            <!-- input id="id-title2" type="text" name="title" value="" placeholder="some text" / -->
            <input id="id-title" name="title" v-model="fields.title" class="form-control" placeholder="some text" />
            <div v-if="errors && errors.title" class="text-danger">{{ errors.title[0] }}</div>
        </div>
        
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" id="email" v-model="fields.email" />
            <div v-if="errors && errors.email" class="text-danger">{{ errors.email[0] }}</div>
        </div>
        
        <button type="submit" class="btn btn-primary">Send</button>

        <div v-if="success" class="alert alert-success mt3">
            Message sent! 
        </div>
        
    </form>

    <!-- vuejs y js -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/form-todo.js"></script>
</body>
</html>
